.bar {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    max-width: 300px;
}

.container {
    position: relative;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}
