.bar {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    max-width: 300px;
}

.container {
    position: relative;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.mat-card {
    position: absolute;  
    top: 15px;  
    left: 15px;  
    right: 15px;  
    bottom: 5px;
}

.mat-grid-list {
    width: 77vw;
    margin-right: auto;
    margin-left: auto;
}
