<mat-sidenav-container fullscreen class="example-container">
    <mat-sidenav #sidenav mode="side" class="nav mat-typography" [(opened)]="opened">
      <div class="menu">
        <ul>
          <li><h3 (click)="routeToDashboard()">Dashboard</h3></li>
          <li><h3 (click)="routeToForm()">Form</h3></li>
        </ul>
      </div>
    </mat-sidenav>
    <div></div>
    <mat-sidenav-content>
      <div class="teste">
      <mat-toolbar color="primary">
        <i class="material-icons hamburguer" (click)="sidenav.toggle()">menu</i>
        <span class="spacer"></span>
        <i class="material-icons">favorite</i>
        <i class="material-icons">account_circle</i>
      </mat-toolbar>
      </div>
      <app-content></app-content>
    </mat-sidenav-content> 
  </mat-sidenav-container>
